version: '3'
services:
  app:
    build: .
    container_name: todo-app-ghassen
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/todoappdb
      - JWT_SECRET=your_jwt_secret_here
      - NODE_ENV=development
      - PORT=9002
    ports:
      - "9002:9002"
    depends_on:
      - db
    volumes:
      - .:/app

  db:
    image: postgres:13-alpine
    container_name: postgres-db-ghassen
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: todoappdb
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:


